/*
0 - 600px:         phone
600 - 900px:       portrait tablet
900 - 1200px:     landscape tablet
1200 - 1800:      (normal styles)
1800 +:           big desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-lan
-big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
/*
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content
        }; //600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content
        }; //900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {
        @content
        }; //1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {
        @content
        }; //1800
    }
}
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0 0.5rem 0.5rem 0.5rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /*60% {
        transform: rotate(220deg);
    }*/
  80% {
    transform: translateX(1rm); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  padding: 0 0.5rem 0.5rem 0.5rem; }

.heading-primary {
  color: #856e9c;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    text-transform: lowercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 450;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(251, 222, 223, 0.8), #a995b6);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease-in-out;
  letter-spacing: 2px;
  margin-top: -5em; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem, 1rem 2rem black; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #a995b6; }

.paragraph {
  font-size: 1.4rem;
  color: #cab7de; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.feature-box__text {
  font-size: 1.5rem;
  text-align: center;
  color: #cab7de;
  padding: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 9rem !important; }

.u-margin-top-x-small {
  margin-top: 0.8rem !important; }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: #a995b6; }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 15rem;
    height: auto;
    margin-bottom: 5rem; }
  .footer__navigation {
    border-top: 1px solid #a995b6;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #a995b6;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.2rem;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #856e9c;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    color: #a995b6;
    border-top: 1px solid #a995b6;
    padding-top: 2rem;
    width: 80%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(255, 243, 240, 0.8), rgba(251, 222, 223, 0.8)), url("https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  z-index: 500;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 500px, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 500px, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 1.8rem;
  right: 2.3rem;
  border-radius: 50%;
  z-index: 1750;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 2.5rem;
  background-image: radial-gradient(#ffb9d6, #d5b3f5);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 2.8rem;
  display: inline-block;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 225%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #fce1e4;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #856e9c;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -0.8rem; }

.navigation__button:hover .navigation__icon::after {
  top: 0.8rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
  opacity: 0.25;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #856e9c;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  animation: moveInBottom 0.5s ease-in;
  border: none;
  margin-top: 2rem;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-0.1rem); }

.btn--white {
  background-color: #feeefe;
  color: #957dad;
  padding: 1.5rem 4rem; }
  .btn--white::after {
    background-color: #feeefe; }

.btn--purple {
  background-color: #feeefe;
  color: #957dad;
  padding: 1.5rem 4rem;
  font-size: 1.4rem; }
  .btn--purple::after {
    background-color: #feeefe; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.4rem;
  color: #856e9c;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #856e9c;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #cab7de;
  color: #fce1e4;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  margin-bottom: 3rem; }
  .card__side {
    font-size: 2rem;
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fdfcff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #e8b8c2, #d5b3f5); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #e8b8c2, #f7dbf6); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #d5b3f5, #adb0f7); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #e8b8c2, #f7dbf6), url("https://images.unsplash.com/photo-1623284060556-37e5ff559dd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #e8b8c2, #d5b3f5), url("https://images.unsplash.com/photo-1604702433171-33756f3f3825?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2005&q=80"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #d5b3f5, #adb0f7), url("https://images.unsplash.com/photo-1513201099705-a9746e1e201f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 385;
    text-transform: uppercase;
    text-align: right;
    color: #856e9c;
    position: absolute;
    top: 18rem;
    right: 1rem;
    width: 70%; }
  .card__heading-span {
    padding: 5px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(247, 219, 246, 0.85), rgba(232, 184, 194, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(232, 184, 194, 0.85), rgba(213, 179, 245, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(213, 179, 245, 0.85), rgba(173, 176, 247, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        color: #856e9c;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(last-child) {
          border-bottom: 0.5px solid #f7dbf6; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: white; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: -2rem;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0.3rem;
      top: 5rem; }
    .composition__photo--p3 {
      left: 10%;
      top: 15rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      outline: 1rem solid #856e9c; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem #856e9c;
  transition: transform 0.3s; }
  .feature-box__img--1 {
    max-width: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #a995b6; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff4500; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #a995b6;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -1rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%);
    background-color: #a995b6;
    opacity: 0; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
  transition: opacity 0.2s; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid rgba(255, 243, 240, 0.8);
    -ms-column-count: 2;
    -ms-column-gap: 4rem;
    -ms-column-rule: 1px solid rgba(255, 243, 240, 0.8);
    -ms-column-count: 2;
    -ms-column-gap: 4rem;
    -ms-column-rule: 1px solid rgba(255, 243, 240, 0.8);
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid rgba(255, 243, 240, 0.8);
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 0.1rem;
    right: 1.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block; }
  .popup__close:hover {
    color: rgba(251, 222, 223, 0.8); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(254, 233, 236, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__image {
    height: 100%;
    width: fit-content;
    transform: translateX(-3rem) scale(1.1);
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-3rem) scale(1);
    filter: blur(3px) brightness(80%); }

.section-about {
  background-color: #fffbfc;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, rgba(255, 243, 240, 0.8), rgba(251, 222, 223, 0.8)), url("../../img/photo-1464305795204-6f5bbfc7fb81.png");
  background-size: cover;
  transform: skewY(7deg);
  margin-top: -9rem; }
  .section-features > * {
    transform: skewY(-7deg); }

.section_menu {
  background-color: #fffbfc;
  padding: 25rem 0 15rem 0;
  margin-top: -20vh; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #e8b8c2, #a995b6); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url("https://images.unsplash.com/photo-1521886655570-97530ff9454b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem;
  position: relative; }
  .book__form {
    width: 50%;
    padding: 6rem; }
  .book__lessons {
    position: absolute;
    bottom: 42rem;
    text-align: center;
    float: right; }
