$color-primary: rgba(251, 222, 223, 0.8);
$color-primary-light: rgba(255, 243, 240, 0.8);
$color-grey-dark: #777;
$color-purple-dark: #856e9c;
$color-pastel-pink: #fce1e4;
$color-pastel-purple: #a995b6;
$color-purple:#cab7de;
//
$color-secondary-pink: #f7dbf6;
$color-secondary-pink2: #e8b8c2;
//
$color-tertiary-purple:#d5b3f5;
$color-tertiary-purple2: #adb0f7;
$color-hot-pink-light: #ffb9d6;
$color-hot-purple: #e2a1f5;
//Grid css#e8dff5//
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem;
//Font size//
$default-font-size: 1.6rem;