.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: $color-purple-dark;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        animation: moveInBottom 0.5s ease-in;
        //change for button
        border: none;
        margin-top: 2rem;
        cursor: pointer;
    }
    &:hover {
        transform: translateY(-0.3rem);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        transform: translateY(-0.1rem);
    }
    &--white {
        background-color: #feeefe;
        color: #957dad;
        padding: 1.5rem 4rem;
        &::after {
            background-color: #feeefe;
        }
    }
    &--purple {
        background-color: #feeefe;
        color: #957dad;
        padding: 1.5rem 4rem;
        font-size: 1.4rem;
        &::after {
            background-color: #feeefe;
        }
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s
    }
    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1.4rem;
        color: $color-purple-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-purple-dark;
        padding: 3px;
        transition: all 0.2s;
    }
    &:hover {
        background-color: $color-purple;
        color: $color-pastel-pink;
        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.15);
        transform: translateY(0);
    }
}